# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env.bak/
venv.bak/

# Frontend (Node.js)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Data (Ignore large orbital files)
data/*.tif
data/*.h5

# OS
.DS_Store
Thumbs.db
